@font-face {
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'regular';
}

@font-face {
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-family: 'medium';
}

@font-face {
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-family: 'bold';
}
